<!DOCTYPE html>
html(lang='en', ng-app='app')
head
    meta(charset="UTF-8")
    title Input de Datos
body(ng-controller='MyController')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js', type='application/javascript')
    script(src='/js/app.js', type='application/javascript')
    h1 Bienvenido
    br
    a(href="/inputcategoria") Ingresar Categoria
    br
    a(href="/inputitems") Ingresar Items
    